# EPARVIER — .gitignore cockpitifié

# Dotnet
bin/
obj/
*.pdb
*.mdb
*.db

# Logs
logs/
log/
*.log
*.tmp

# Secrets
*.env
.env.*
appsettings.Development.json
appsettings.Local.json
*.secret.json
*.key
*.pem
id_ed25519
id_rsa
SolaizeEparvier

# Docker data
mongo_data/
docker-data/
dump/

# Node / Frontend
node_modules/
dist/
build/

# Publish
publish/

# Editor / OS
.vscode/
*.user
*.suo
*.swp
*.swo
.DS_Store
Thumbs.db

# Backups
*.bak
*.save
